<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.stormroboticsnj.otium">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Otium">
        <activity
            android:name=".CustomizableActivity"
            android:exported="false" />
        <activity
            android:name=".AvatarActivity"
            android:label="Your Avatar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShopActivity"
            android:label="Shop"
            android:parentActivityName=".AvatarActivity" />
        <activity
            android:name=".CustomizeActivity"
            android:label="Customize"
            android:parentActivityName=".AvatarActivity" />
        <activity
            android:name=".LearnActivity"
            android:label="Learn"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JournalActivity"
            android:label="Journal"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>